@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}
nav {
  font-family: 'Inter', sans-serif;
}

nav a {
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

nav a:hover {
  text-decoration: none;
}

nav .active {
  border-bottom: 2px solid #3b82f6;
}